@font-face {
  font-family: "Classical Diary";
  src: url("../assets/fonts/ClassicalDiaryDemo.woff2") format("woff2"),
    url("../assets/fonts/ClassicalDiaryDemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Classical Diary";
  src: url("../assets/fonts/ClassicalDiaryDemo.woff2") format("woff2"),
    url("../assets/fonts/ClassicalDiaryDemo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Falling Sky";
  src: url("../assets/fonts/FallingSky.woff2") format("woff2"),
    url("../assets/fonts/FallingSky.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Timeless Notes";
  src: url("../assets/fonts/TimelessNotesRegular.woff2") format("woff2"),
    url("../assets/fonts/TimelessNotesRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
